@font-face {
	font-family: "HelveticaNeueW01-45Ligh";
	src: url("ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot");
	src: url("ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot#iefix") format("embedded-opentype"),
	url("530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),
	url("688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),
	url("7816f72f-f47e-4715-8cd7-960e3723846a.svg#HelveticaNeueW01-45Ligh") format("svg");
}
