@font-face {
	font-family: "HelveticaNeueW01-65Medi";
	src: url("07fe0fec-b63f-4963-8ee1-535528b67fdb.eot");
	src: url("07fe0fec-b63f-4963-8ee1-535528b67fdb.eot#iefix") format("embedded-opentype"),
	url("60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),
	url("4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"),
	url("36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#HelveticaNeueW01-65Medi") format("svg");
}
