@font-face {
  font-family: "Helvetica Neue";
  font-weight: 300;
  src: url("../fonts/HelveticaNeueW01-45Ligh/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot");
  src: url("../fonts/HelveticaNeueW01-45Ligh/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueW01-45Ligh/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg"), url("../fonts/HelveticaNeueW01-45Ligh/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"), url("../fonts/HelveticaNeueW01-45Ligh/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: normal;
  src: url("../fonts/HelveticaNeueW01-55Roma/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot");
  src: url("../fonts/HelveticaNeueW01-55Roma/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueW01-55Roma/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg"), url("../fonts/HelveticaNeueW01-55Roma/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"), url("../fonts/HelveticaNeueW01-55Roma/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 500;
  src: url("../fonts/HelveticaNeueW01-65Medi/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot");
  src: url("../fonts/HelveticaNeueW01-65Medi/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueW01-65Medi/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg"), url("../fonts/HelveticaNeueW01-65Medi/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"), url("../fonts/HelveticaNeueW01-65Medi/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: bold;
  src: url("../fonts/HelveticaNeueW01-75Bold/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot");
  src: url("../fonts/HelveticaNeueW01-75Bold/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueW01-75Bold/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg"), url("../fonts/HelveticaNeueW01-75Bold/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"), url("../fonts/HelveticaNeueW01-75Bold/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype");
}

@font-face {
  font-family: 'tw-icons';
  src:url('../fonts/tw-icons/tw-icons.eot?jqm746');
  src:url('../fonts/tw-icons/tw-icons.eot?#iefixjqm746') format('embedded-opentype'),
    url('../fonts/tw-icons/tw-icons.woff?jqm746') format('woff'),
    url('../fonts/tw-icons/tw-icons.ttf?jqm746') format('truetype'),
    url('../fonts/tw-icons/tw-icons.svg?jqm746#tw-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'tw-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-details:before {
  content: "\e600";
}

.icon-save:before {
  content: "\e601";
}

.icon-x:before {
  content: "\e602";
}

